body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mark {
  padding: 3px;
  margin-right: 3px;
  color: green;
  background-color: #cccccc;
}

.btn-close {
  background-color: #ffffff;
  border: none;
  color: red;
}

.item {
  margin-top: 15px;
}

.item:hover {
  cursor: pointer;
}

.done {
  margin-top: 15px;
  color: orangered;
}
